@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: "Kanit", sans-serif;
  /* background-color: rgb(25, 25, 27);; */
}

body {
    height: 100vh;
    width: 100%;
    background: rgb(25,25,27);
    background: linear-gradient(90deg, rgba(25,25,27,1) 37%, rgba(53,53,57,1) 76%);
    display: flex;
    justify-content: center;
    align-items: center;
}

form.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 20px;
    color: #fff;
    font-weight: 300;
}

input{
    border: none;
    height: 50px;
    width: 250px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

.textbox {
    color: #fff;
    background: rgba(25, 25, 27, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);

}
.textbox:placeholder{
    color: #fff;
}
.textbox:hover,
.textbox:focus {
    background: #fff;
    width: 270px;
    color: #d8232f;
}
ิ.btn-submot {
    background: #fff;
    color: #d8232f;
}
ิ.btn-submot:hover {
    color: #fff;
    background: #d8232f;
}